In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
import warnings
warnings.filterwarnings("ignore")

Prepare rules for the all the data sets 
1) Try different values of support and confidence. Observe the change in number of rules for different support,confidence      values
2) Change the minimum length in apriori algorithm
3) Visulize the obtained rules using different plots

In [4]:
movies=pd.read_csv(r"C:\Users\ADITYA\Desktop\EXCELR ASSIGNMENT\ASSOCIATION RULE\my_movies.csv")

In [5]:
movies.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

In [6]:
movies.shape

(10, 15)

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   V1             10 non-null     object
 1   V2             10 non-null     object
 2   V3             7 non-null      object
 3   V4             2 non-null      object
 4   V5             1 non-null      object
 5   Sixth Sense    10 non-null     int64
 6   Gladiator      10 non-null     int64
 7   LOTR1          10 non-null     int64
 8   Harry Potter1  10 non-null     int64
 9   Patriot        10 non-null     int64
 10  LOTR2          10 non-null     int64
 11  Harry Potter2  10 non-null     int64
 12  LOTR           10 non-null     int64
 13  Braveheart     10 non-null     int64
 14  Green Mile     10 non-null     int64
dtypes: int64(10), object(5)
memory usage: 1.3+ KB

In [15]:
movies1=movies.iloc[:,5:]

In [16]:
movies1

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,1,0,1,1,0,1,0,0,0,1
1,0,1,0,0,1,0,0,0,1,0
2,0,0,1,0,0,1,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0
4,1,1,0,0,1,0,0,0,0,0
5,1,1,0,0,1,0,0,0,0,0
6,0,0,0,1,0,0,1,0,0,0
7,0,1,0,0,1,0,0,0,0,0
8,1,1,0,0,1,0,0,0,0,0
9,1,1,0,0,0,0,0,1,0,1

In [17]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

In [22]:
frequent_itemsets = apriori(movies1, min_support=0.1, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

C:\Users\ADITYA\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                                           itemsets  length
0       0.6                                      (Sixth Sense)       1
1       0.7                                        (Gladiator)       1
2       0.2                                            (LOTR1)       1
3       0.2                                    (Harry Potter1)       1
4       0.6                                          (Patriot)       1
5       0.2                                            (LOTR2)       1
6       0.1                                    (Harry Potter2)       1
7       0.1                                             (LOTR)       1
8       0.1                                       (Braveheart)       1
9       0.2                                       (Green Mile)       1
10      0.5                           (Sixth Sense, Gladiator)       2
11      0.1                               (Sixth Sense, LOTR1)       2
12      0.1                       (Sixth Sense, Harry Potter1)       2
13      0.4                             (Sixth Sense, Patriot)       2
14      0.1                               (LOTR2, Sixth Sense)       2
15      0.1                                (LOTR, Sixth Sense)       2
16      0.2                          (Sixth Sense, Green Mile)       2
17      0.6                               (Patriot, Gladiator)       2
18      0.1                                  (LOTR, Gladiator)       2
19      0.1                            (Braveheart, Gladiator)       2
20      0.1                            (Green Mile, Gladiator)       2
21      0.1                             (Harry Potter1, LOTR1)       2
22      0.2                                     (LOTR2, LOTR1)       2
23      0.1                                (LOTR1, Green Mile)       2
24      0.1                             (LOTR2, Harry Potter1)       2
25      0.1                     (Harry Potter1, Harry Potter2)       2
26      0.1                        (Harry Potter1, Green Mile)       2
27      0.1                              (Braveheart, Patriot)       2
28      0.1                                (LOTR2, Green Mile)       2
29      0.1                                 (LOTR, Green Mile)       2
30      0.4                  (Sixth Sense, Patriot, Gladiator)       3
31      0.1                     (LOTR, Sixth Sense, Gladiator)       3
32      0.1               (Green Mile, Sixth Sense, Gladiator)       3
33      0.1                (Sixth Sense, LOTR1, Harry Potter1)       3
34      0.1                        (LOTR2, Sixth Sense, LOTR1)       3
35      0.1                   (Sixth Sense, LOTR1, Green Mile)       3
36      0.1                (LOTR2, Sixth Sense, Harry Potter1)       3
37      0.1           (Sixth Sense, Green Mile, Harry Potter1)       3
38      0.1                   (LOTR2, Sixth Sense, Green Mile)       3
39      0.1                    (LOTR, Sixth Sense, Green Mile)       3
40      0.1                   (Patriot, Braveheart, Gladiator)       3
41      0.1                      (Green Mile, LOTR, Gladiator)       3
42      0.1                      (LOTR2, Harry Potter1, LOTR1)       3
43      0.1                 (Harry Potter1, LOTR1, Green Mile)       3
44      0.1                         (LOTR2, LOTR1, Green Mile)       3
45      0.1                 (LOTR2, Harry Potter1, Green Mile)       3
46      0.1         (LOTR, Green Mile, Sixth Sense, Gladiator)       4
47      0.1         (LOTR2, Sixth Sense, LOTR1, Harry Potter1)       4
48      0.1    (Sixth Sense, LOTR1, Green Mile, Harry Potter1)       4
49      0.1            (LOTR2, Sixth Sense, LOTR1, Green Mile)       4
50      0.1    (LOTR2, Sixth Sense, Green Mile, Harry Potter1)       4
51      0.1          (LOTR2, Harry Potter1, LOTR1, Green Mile)       4
52      0.1  (LOTR1, Sixth Sense, Green Mile, LOTR2, Harry ...       5

In [26]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.2) ]

    support                   itemsets  length
10      0.5   (Sixth Sense, Gladiator)       2
13      0.4     (Sixth Sense, Patriot)       2
16      0.2  (Sixth Sense, Green Mile)       2
17      0.6       (Patriot, Gladiator)       2
22      0.2             (LOTR2, LOTR1)       2

In [27]:
frequent_itemsets[ (frequent_itemsets['length'] == 3) &
                   (frequent_itemsets['support'] >= 0.1) ]

    support                                  itemsets  length
30      0.4         (Sixth Sense, Patriot, Gladiator)       3
31      0.1            (LOTR, Sixth Sense, Gladiator)       3
32      0.1      (Green Mile, Sixth Sense, Gladiator)       3
33      0.1       (Sixth Sense, LOTR1, Harry Potter1)       3
34      0.1               (LOTR2, Sixth Sense, LOTR1)       3
35      0.1          (Sixth Sense, LOTR1, Green Mile)       3
36      0.1       (LOTR2, Sixth Sense, Harry Potter1)       3
37      0.1  (Sixth Sense, Green Mile, Harry Potter1)       3
38      0.1          (LOTR2, Sixth Sense, Green Mile)       3
39      0.1           (LOTR, Sixth Sense, Green Mile)       3
40      0.1          (Patriot, Braveheart, Gladiator)       3
41      0.1             (Green Mile, LOTR, Gladiator)       3
42      0.1             (LOTR2, Harry Potter1, LOTR1)       3
43      0.1        (Harry Potter1, LOTR1, Green Mile)       3
44      0.1                (LOTR2, LOTR1, Green Mile)       3
45      0.1        (LOTR2, Harry Potter1, Green Mile)       3

In [28]:
rules = association_rules(frequent_itemsets,  min_threshold=0.7)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
3,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
4,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf

In [32]:
rules = association_rules(frequent_itemsets,  min_threshold=1)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.0,1.666667,0.04,inf
1,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.0,1.666667,0.08,inf
2,(Patriot),(Gladiator),0.6,0.7,0.6,1.0,1.428571,0.18,inf
3,(LOTR),(Gladiator),0.1,0.7,0.1,1.0,1.428571,0.03,inf
4,(Braveheart),(Gladiator),0.1,0.7,0.1,1.0,1.428571,0.03,inf

for 20% support and 60% confidence

In [33]:
frequent_itemsets2 = apriori(movies1, min_support=0.2, use_colnames=True)
frequent_itemsets2['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets2

C:\Users\ADITYA\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                           itemsets  length
0       0.6                      (Sixth Sense)       1
1       0.7                        (Gladiator)       1
2       0.2                            (LOTR1)       1
3       0.2                    (Harry Potter1)       1
4       0.6                          (Patriot)       1
5       0.2                            (LOTR2)       1
6       0.2                       (Green Mile)       1
7       0.5           (Sixth Sense, Gladiator)       1
8       0.4             (Sixth Sense, Patriot)       1
9       0.2          (Sixth Sense, Green Mile)       1
10      0.6               (Patriot, Gladiator)       2
11      0.2                     (LOTR2, LOTR1)       2
12      0.4  (Sixth Sense, Patriot, Gladiator)       2

In [34]:
rules2 = association_rules(frequent_itemsets,  min_threshold=0.6)
rules2.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
3,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
4,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf